<ion-view view-title="Nearby">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Nearby</h1>
  </ion-header-bar>

  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>


        <a class="item item-icon-left item-icon-right" href="#/tab/search">
          <i class="icon ion-android-restaurant"></i>
          Restaurants
          <i class="icon ion-chevron-right"></i>
        </a>


    </div>

    <div class="padding">

      <h4>Is it dinner time already?</h4>

      <p>
        This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
      </p>
    </div>

           <!-- <div class="row">
              <div class="col">
              <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
                Log Out
              </a>
              </div>
            </div>-->


  </ion-content>
</ion-view>
